[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.8"
